body {
  background-color: #e9ecef;
  font-weight:  400;
}

.home-content {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  margin: auto;
  width: 80%;
  background-color: white;
  padding: 5px;
  box-shadow: 5px 10px inset;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

@media only screen and (max-width: 800px) {
    
    .nav-item {
      font-size: 13px;
    }

    .nav-img {
      visibility: hidden;
    }

    .nav-link {
      float: left;
    }
}

/*NAV styles*/
.nav {
  height: 50px;
}
.nav-item{
  font-weight: 400;
  text-align: center;
  height: inherit;
  padding: 0;
  overflow: hidden;
}

.nav-link {
  padding-top: 12px;
}
.nav-item:hover {
    background-color: black;
}

/*page styles*/
h2 {
  margin: auto;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 35px;
  color: #0063B1;
}

.row {
  margin: auto;
  text-align: center;
}

#bottomBar {
  height: 340px;
  margin-top: -32px;
  width: 100%;
  text-align: center;
}

.mids {
  padding-left: 30px;
  padding-right: 30px;
}

.home-content-wrap {
  margin: auto;
  padding-left: 100px;
}

a {
  color: #0063B1;
}

a:hover {
  color: #0078D7;
}

#myName {
  color: #0063B1;
}

.dates {
  font-style: italic;
}

.footer {
  padding-top: 50px;
  margin-bottom: 100px;
}

.mr-3 {
  width: 100px;
  margin-left: 5px;
}

.list-unstyled {
  padding-top: 5px;
}

.connect-image {
  margin: auto;
  padding-left: 7px;
}

.circle {
  border-radius: 50px;
}

.btn {
  color: #333;
  background-color: white;
  border-color: #8c8c8c;

}

.btn:hover {
  background-color: #d4d4d4;
}
